*{
    margin: 0%;
}

.contenedor{
    background-color: lightcoral;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: x-large;
    padding: 0.80em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

img{
    display: flex;
    width: 5vw;
    height: 5vw;
    justify-content: center;
}